.divCat {
  display: flex;
  flex-wrap: wrap; 
  gap: 50px 50px;
  justify-content: space-around;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.2s;
  height: 300px;
  margin-bottom: 100px; 
  width: 200px; 
  border: 1px solid black;
  background-color: #fff;
  padding: 16px;
  margin-left: 1px;
}

.categoryText {
  margin-top: 325px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}


.category:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* the background images for each category */
.watch {
  background-image: url('https://m.media-amazon.com/images/I/418GgZVlz0L._SX300_SY300_QL70_FMwebp_.jpg');
}
.smartphones {
  background-image: url('https://m.media-amazon.com/images/I/61uaJPLIdML._SX679_.jpg');
}
.laptops{
  background-image: url('https://m.media-amazon.com/images/I/41o-KkXEkSL.jpg');
}

.fragrances {
  background-image: url('https://m.media-amazon.com/images/I/51X28JCFppL._SX679_.jpg');
}
.groceries {
  background-image: url('https://hips.hearstapps.com/hmg-prod/images/09dce7b7-ea40-406b-a2c0-a3f57c420b17-1657946362.jpeg?crop=0.660xw:1.00xh;0.0794xw,0&resize=1200:*');
}
.skincare {
  background-image: url('https://images.herzindagi.info/image/2020/May/milk-powder-face-packs-m.jpg');
}
.home-decoration {
  background-image: url('https://m.media-amazon.com/images/I/41LRqLT8LcL._SX300_SY300_QL70_FMwebp_.jpg');
}
.furniture {
  background-image: url('https://m.media-amazon.com/images/I/419IIIiaaqL._SX300_SY300_QL70_FMwebp_.jpg');
}
.tops {
  background-image: url('https://m.media-amazon.com/images/I/51MuT7FfMeL._UX679_.jpg');
}
.womens-dresses {
  background-image: url('https://m.media-amazon.com/images/I/61Y21MBMCFL._UY879_.jpg');
}
.womens-shoes {
  background-image: url('https://m.media-amazon.com/images/I/71O5WLjPPmL._UY695_.jpg');
}
.mens-shirts {
  background-image: url('https://m.media-amazon.com/images/I/61UwVGQZs2L._UY879_.jpg');
}
.mens-shoes {
  background-image: url('https://m.media-amazon.com/images/I/713UmakQhoL._UY695_.jpg');
}
.bags {
  background-image: url('https://m.media-amazon.com/images/I/81Xdo8YO4mS._UY695_.jpg');
}
.jewellery {
  background-image: url('https://m.media-amazon.com/images/I/61NDs31j2YL._UY695_.jpg');
}
.sunglasses {
  background-image: url('https://m.media-amazon.com/images/I/41Dr9I4x1EL._UX679_.jpg');
}
.automotive {
  background-image: url('https://m.media-amazon.com/images/I/41iuZNDcYJL._SX300_SY300_QL70_FMwebp_.jpg');
}
.lighting {
  background-image: url('https://m.media-amazon.com/images/I/41M4QzK6NVL._SY445_SX342_QL70_FMwebp_.jpg');
}

.imageContainer{
  height:350px;
  width: 100%;
  overflow: hidden;
}

.imageContainer
 img {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.spacediv{
  height: 30px;
}
.changeUnderline{
  text-decoration: none;
}
